heating-system/flow/flows.backup
[{"type":"tab","id":"3916db8d.c6e924","label":"DONE_Zapisz wszystkie termometry"},{"type":"tab","id":"e05ab48f.1fa548","label":"EXTRA_synchronizacja z serverem"},{"type":"tab","id":"3f3cf9f9.c0c306","label":"DONE_Ustal tryb pracy"},{"type":"tab","id":"7776a84d.888958","label":"HTTP"},{"type":"tab","id":"9276212e.6d89e","label":"EXTRA_Zapisz IP"},{"type":"tab","id":"f6dbe110.09242","label":"DONE_sterowanie piecem 2"},{"id":"f543ba22.0abc48","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"d739ba3a.28c648","type":"MySQLdatabase","host":"localhost","port":"3306","db":"node-red"},{"id":"28a29f68.d75d6","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"39996d8f.c66692","type":"websocket-listener","path":"/ws/test-socket","wholemsg":"false"},{"id":"d9cf7777.263088","type":"ds18b20","name":"","sensorid":"","readType":"read-all","property":"","x":214,"y":132,"z":"3916db8d.c6e924","wires":[["450d7ee6.baf28"]]},{"id":"d74eb4c.f28b148","type":"inject","name":"","topic":"co 30s","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":98,"y":59,"z":"3916db8d.c6e924","wires":[["d9cf7777.263088"]]},{"id":"450d7ee6.baf28","type":"function","name":"przygotuj zapytanie","func":"var query = \"INSERT INTO temperatures (sensorId, value) \"\n\nfor(var i = 0; i<msg.payload.length; i++){\n\tquery += \"SELECT \" + parseInt('0x'+msg.payload[i].serialid.replace('-','00')) + \", \" + msg.payload[i].value + \" \";\n\tif( i+1< msg.payload.length){\n\t\tquery += \" UNION ALL \"\n\t}\n}\nmsg.topic = query;\nmsg.expectedEntries = msg.payload.length;\nreturn msg;","outputs":1,"x":331,"y":212,"z":"3916db8d.c6e924","wires":[["c8adf111.37521","c54b6f10.3ab49"]]},{"id":"c8adf111.37521","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":422,"y":295,"z":"3916db8d.c6e924","wires":[["17cdb78e.e83248"]]},{"id":"17cdb78e.e83248","type":"function","name":"validacja","func":"if(msg.expectedEntries != msg.payload.affectedRows){\n\tmsg.error = true;\n}else{\n\tmsg.error = false;\n}\nreturn msg;","outputs":1,"x":486,"y":377,"z":"3916db8d.c6e924","wires":[["55d6dae8.aa2924"]]},{"id":"1588afa1.ea775","type":"mqtt out","name":"","topic":"log-error","qos":"","retain":"","broker":"f543ba22.0abc48","x":691,"y":417,"z":"3916db8d.c6e924","wires":[]},{"id":"f5be66.ff0a4198","type":"mqtt out","name":"","topic":"log-info","qos":"","retain":"","broker":"f543ba22.0abc48","x":690,"y":496,"z":"3916db8d.c6e924","wires":[]},{"id":"55d6dae8.aa2924","type":"switch","name":"jezeli ERROR","property":"error","rules":[{"t":"eq","v":"true"},{"t":"eq","v":"false"}],"checkall":"true","outputs":2,"x":509,"y":453,"z":"3916db8d.c6e924","wires":[["1588afa1.ea775"],["f5be66.ff0a4198"]]},{"id":"1008fa23.eff706","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":99,"y":79,"z":"e05ab48f.1fa548","wires":[["8996ae35.76695"]]},{"id":"8996ae35.76695","type":"http request","name":"","method":"GET","url":"http://jjroman.net/mimosaT/dataSync.php?action=GETMAX","x":236,"y":141,"z":"e05ab48f.1fa548","wires":[["a5eafa74.5a1508","55de7fb.faa218"]]},{"id":"c04ed0d7.3fb13","type":"debug","name":"","active":false,"console":"false","complete":"false","x":693,"y":348,"z":"e05ab48f.1fa548","wires":[]},{"id":"a5eafa74.5a1508","type":"function","name":"dane do wyslania na server","func":"function isInt(n){\n        return Number(n)===n && n%1===0;\n}\nvar max = 0;\nvar recieved = JSON.parse(msg.payload);\nif(isInt(parseInt(recieved.resp))){\n\tmax = parseInt(recieved.resp);\n}\n//console.log('max:',recieved, msg.payload.resp, isInt(parseInt(recieved.resp)), max);\nmsg.payload = max;\nmsg.topic = \"SELECT * FROM temperatures WHERE id > \" + max + \" ORDER BY id LIMIT 100\"\nreturn msg;","outputs":1,"x":331,"y":207,"z":"e05ab48f.1fa548","wires":[["f9486f62.06b79","13f3689a.ec0c97"]]},{"id":"f9486f62.06b79","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":441,"y":292,"z":"e05ab48f.1fa548","wires":[["9a8a5c7a.6575a"]]},{"id":"9a8a5c7a.6575a","type":"function","name":"send to mimosa","func":"\nfunction sendToDB(dataToSend){\n\t\n\tvar SQL = \"INSERT INTO temperatures (id, sensorId, value, timestamp) \\r\\n\"\n\tvar unionPrefix = \"\";\n\tfor(var i=0; i<dataToSend.length; i++){\n\t\tSQL += ( unionPrefix + \"SELECT \" + dataToSend[i]['id'] + ', ' + dataToSend[i]['sensorId'] + ', ' + dataToSend[i]['value'] + ', FROM_UNIXTIME(' + new Date(dataToSend[i]['timestamp']).getTime()/1000 + ')' );\n\t\tunionPrefix = \" UNION ALL \\r\\n\";\n\t}\n\t\n\tvar preparedToSend = SQL;\n\n\tvar http = context.global.http;\n\tvar options = {\n\t\thost: 'jjroman.net',\n\t\tpath: '/mimosaT/dataSync.php?action=UPLOADDATA',\n\t\tmethod: 'POST',\n\t\theaders: {\n\t\t\t'Content-Type': 'application/json',\n\t\t\t'Content-Length': preparedToSend.length\n\t\t}\n\t};\n\n\tvar callback = function(response) {\n  \t\tvar str = '';\n  \t\t//another chunk of data has been recieved, so append it to `str`\n  \t\tresponse.on('data', function (chunk) {\n    \t\tstr += chunk;\n  \t\t});\n  \t\t\n\t\tresponse.on('error',function(e){\n   \t\t\tconsole.log(\"Error: \" + hostNames[i] + \"\\n\" + e.message); \n   \t\t\tconsole.log( e.stack );\n\t\t});\n  \t\t//the whole response has been recieved, so we just print it out here\n  \t\tresponse.on('end', function () {\n    \t\tconsole.log(str);\n  \t\t});\n\t}\n\n\tvar req = http.request(options, callback);\n\treq.on('error',function(e){\n   \t\t\tconsole.log(\"Error: \\n\" + e.message); \n   \t\t\tconsole.log( e.stack );\n   \t\t\tconsole.log( e);\n\t});\n\treq.write(preparedToSend)\n\treq.end();\n}\nsendToDB(msg.payload);\nreturn msg;","outputs":1,"x":515,"y":362,"z":"e05ab48f.1fa548","wires":[["c04ed0d7.3fb13"]]},{"id":"13f3689a.ec0c97","type":"debug","name":"","active":false,"console":"false","complete":"false","x":548,"y":199,"z":"e05ab48f.1fa548","wires":[]},{"id":"55de7fb.faa218","type":"debug","name":"","active":false,"console":"false","complete":"false","x":488,"y":139,"z":"e05ab48f.1fa548","wires":[]},{"id":"c54b6f10.3ab49","type":"debug","name":"","active":false,"console":"false","complete":"true","x":545,"y":171,"z":"3916db8d.c6e924","wires":[]},{"id":"67b17ffc.984e8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":98,"y":54,"z":"3f3cf9f9.c0c306","wires":[["8ed59fe2.712a6"]]},{"id":"8ed59fe2.712a6","type":"function","name":"Odczyt sredniej temperatury z ostatnich 5 minut","func":"var tempFriendlyName = 'CO'\nmsg.topic = \n\"SELECT \\r\\n\"\n+\"  csp.id as `id`\\r\\n\"\n+\"  ,csp.`obecnyStan` as `trybPieca`\\r\\n\"\n+\"  ,ccpv2.`stdTempZadana` as `piecZadana`\\r\\n\"\n+\"  ,ccpv2.`stdTempZadzialania` as `piecZadzialanie`\\r\\n\"\n+\"  ,CAST(avg(tempCO.`value`) AS DECIMAL(5,2)) as `tempKociol`\\r\\n\"\n+\"FROM \\r\\n\"\n+\"\t`node-red`.`current-state-piec` csp\\r\\n\"\n+\"\tCROSS JOIN `node-red`.`current-config-piec-v2` ccpv2\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempCO\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempCO\\r\\n\"\n+\"\t\t\tON thTempCO.serialId = tempCO.sensorId\\r\\n\"\n+\"WHERE \\r\\n\"\n+\"\tthTempCO.friendlyName = '\" + tempFriendlyName + \"'\\r\\n\"\n+\"\tAND tempCO.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\\r\\n\"\n;\nreturn msg;","outputs":1,"x":260,"y":115,"z":"3f3cf9f9.c0c306","wires":[["4e9efbe4.b16104","84e268f3.7b1d98"]]},{"id":"4e9efbe4.b16104","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":140,"y":187,"z":"3f3cf9f9.c0c306","wires":[["52fc11eb.ad03f"]]},{"id":"c3b1eab4.3c4e18","type":"switch","name":"jezeli ERROR","property":"error","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":180,"y":249,"z":"3f3cf9f9.c0c306","wires":[["fe0f6cb3.01f09","31819611.ce7e6a"],["8c0c0dc9.73f3f","31819611.ce7e6a"]]},{"id":"52fc11eb.ad03f","type":"function","name":"walidacja","func":"if(msg.payload && msg.payload.length == 1){\n\tmsg.error = false;\n}else{\n\tmsg.error = true;\n}\nreturn msg;","outputs":1,"x":293,"y":191,"z":"3f3cf9f9.c0c306","wires":[["c3b1eab4.3c4e18","a3a3110.f5c5cf"]]},{"id":"8c0c0dc9.73f3f","type":"function","name":"czy zmienic stan","func":"console.log(msg.payload[0])\nvar val = parseFloat(msg.payload[0]['tempKociol']);\nvar start = parseFloat(msg.payload[0]['piecZadzialanie']);\nvar stop = parseFloat(msg.payload[0]['piecZadana']);\nvar obecnyStan = msg.payload[0]['trybPieca'];\nconsole.log(val, start, stop, obecnyStan)\nmsg.zmiana = false;\nmsg.zmianaNa = \"\";\nif(obecnyStan == 'grzanie' && val >= stop){\n\tmsg.zmiana = true;\n\tmsg.zmianaNa = 'podtrzymanie';\n}\nif(obecnyStan == 'podtrzymanie' && val <= start){\n\tmsg.zmiana = true;\n\tmsg.zmianaNa = 'grzanie';\n}\nconsole.log('msg',msg)\nreturn msg;","outputs":1,"x":249,"y":312,"z":"3f3cf9f9.c0c306","wires":[["7bafc18d.84504","1b075ac4.e4f8a5"]]},{"id":"7bafc18d.84504","type":"switch","name":"jezeli zmiana","property":"zmiana","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":336,"y":377,"z":"3f3cf9f9.c0c306","wires":[["74d787a8.8b2878","1b075ac4.e4f8a5"],["2880e8f1.d77f18"]]},{"id":"eef726c1.1108d8","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":381,"y":476,"z":"3f3cf9f9.c0c306","wires":[["3400de6d.cbff22"]]},{"id":"3400de6d.cbff22","type":"function","name":"walidacja","func":"msg.error = msg.payload.affectedRows !== 1\nreturn msg;","outputs":1,"x":522,"y":491,"z":"3f3cf9f9.c0c306","wires":[["6b9d94a.f94626c"]]},{"id":"f6a1a091.095e6","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0}],"checkall":"true","outputs":1,"x":813,"y":615,"z":"3f3cf9f9.c0c306","wires":[[]]},{"id":"2880e8f1.d77f18","type":"function","name":"zapisz zmiane","func":"var id = parseInt(msg.payload[0]['id']);\nvar staryStan  = msg.payload[0]['trybPieca'];\n\nvar nowyStan = msg.zmianaNa;\n\nvar sql = \"UPDATE \\r\\n\"\n+ \"\t`current-state-piec` \\r\\n\"\n+ \"SET \\r\\n\"\n+ \"\tobecnyStan = '\" + nowyStan + \"' \\r\\n\"\n+ \"WHERE \\r\\n\"\n+ \"\tobecnyStan = '\" + staryStan + \"'\\r\\n\"\n+ \"\tAND id = \" + id;\n\nmsg.topic = sql;\nconsole.log(msg.topic )\nreturn msg;","outputs":1,"x":363,"y":427,"z":"3f3cf9f9.c0c306","wires":[["eef726c1.1108d8"]]},{"id":"fe0f6cb3.01f09","type":"mqtt out","name":"","topic":"log-error","qos":"","retain":"","broker":"f543ba22.0abc48","x":444,"y":241,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"74d787a8.8b2878","type":"mqtt out","name":"","topic":"log-info","qos":"","retain":"","broker":"f543ba22.0abc48","x":537,"y":338,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"6b9d94a.f94626c","type":"switch","name":"","property":"error","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":631,"y":406,"z":"3f3cf9f9.c0c306","wires":[["975a7bbe.68a588"],["f65bd24c.09a43"]]},{"id":"f65bd24c.09a43","type":"mqtt out","name":"","topic":"log-info","qos":"","retain":"","broker":"f543ba22.0abc48","x":772,"y":448,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"975a7bbe.68a588","type":"mqtt out","name":"","topic":"log-error","qos":"","retain":"","broker":"f543ba22.0abc48","x":762,"y":360,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"c65e5a6d.39a1a8","type":"http response","name":"","x":544,"y":212,"z":"7776a84d.888958","wires":[]},{"id":"3bc6ef74.c4391","type":"function","name":"","func":"\nvar tempZadana \t\t= msg.payload['ustawieniaPiec']['piecZadana'];\nvar tempZadzialania = msg.payload['ustawieniaPiec']['piecZadzialanie'];\n\nvar grzaniePodawanie= msg.payload['ustawieniaPiec']['grzaniePodawanie'];\nvar grzaniePrzerwa \t= msg.payload['ustawieniaPiec']['grzaniePrzerwa'];\n\nvar podtrzymaniePodawanie\t=\tmsg.payload['ustawieniaPiec']['podtrzymaniePodawanie'];\nvar podtrzymaniePrzerwa\t\t=\tmsg.payload['ustawieniaPiec']['podtrzymaniePrzerwa'];\n\n\nmsg.topic = \"UPDATE \\r\\n\"\n+\"\t`node-red`.`current-config-piec-v2` \\r\\n\"\n+\"SET \\r\\n\"\n+\"\t`stdTempZadana` = \" + tempZadana + \"\\r\\n\"\n+\"\t,`stdTempZadzialania` =  \" + tempZadzialania + \"\\r\\n\"\n+\"\t,`stdGrzaniePodawanie` = \" + grzaniePodawanie + \"\\r\\n\"\n+\"\t,`stdGrzaniePrzerwa` = \" + grzaniePrzerwa + \"\\r\\n\"\n+\"\t,`stdPodtrzymaniePodawanie` = \" + podtrzymaniePodawanie + \"\\r\\n\"\n+\"\t,`stdPodtrzymaniePrzerwa` =\" + podtrzymaniePrzerwa + \"\\r\\n\"\n\nreturn msg;","outputs":1,"x":308,"y":105,"z":"7776a84d.888958","wires":[["b7e78597.481878"]]},{"id":"4cdf08bf.b320f8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1440","crontab":"","once":false,"x":106,"y":49,"z":"9276212e.6d89e","wires":[["2255190f.ddaae6"]]},{"id":"2255190f.ddaae6","type":"http request","name":"","method":"GET","url":"http://jjroman.net/ip.php","x":265,"y":56,"z":"9276212e.6d89e","wires":[[]]},{"id":"2d929de8.d26d62","type":"http in","name":"","url":"/web/cp-save","method":"post","x":92,"y":166,"z":"7776a84d.888958","wires":[["3bc6ef74.c4391","c64ca28d.39b36"]]},{"id":"c64ca28d.39b36","type":"debug","name":"","active":false,"console":"false","complete":"false","x":248,"y":257,"z":"7776a84d.888958","wires":[]},{"id":"438054e8.bc7fac","type":"http in","name":"","url":"/web/cp-read","method":"get","x":98,"y":297,"z":"7776a84d.888958","wires":[["c64ca28d.39b36","4acaaeda.b5355"]]},{"id":"4acaaeda.b5355","type":"function","name":"","func":"msg.topic = \"SELECT \\r\\n\"\n+\"\tcsp.`obecnyStan` as `trybPieca`\\r\\n\"\n+\"\t,csp.`zasobnik` as `zasobnik`\\r\\n\"\n+\"\t,ccpv2.`zasobnikMax` as `zasobnikMax`\\r\\n\"\n+\"    ,ccpv2.`stdTempZadana` as `piecZadana`\\r\\n\"\n+\"    ,ccpv2.`stdTempZadzialania` as `piecZadzialanie`\\r\\n\"\n+\"    ,ccpv2.`stdGrzaniePodawanie` as `grzaniePodawanie`\\r\\n\"\n+\"    ,ccpv2.`stdGrzaniePrzerwa` as `grzaniePrzerwa`\\r\\n\"\n+\"    ,ccpv2.`stdPodtrzymaniePodawanie` as `podtrzymaniePodawanie`\\r\\n\"\n+\"    ,ccpv2.`stdPodtrzymaniePrzerwa` as `podtrzymaniePrzerwa`\\r\\n\"\n+\"\t,CAST(avg(tempCO.`value`) AS DECIMAL(5,2)) as `tempCO`\\r\\n\"\n+\"\t,CAST(avg(tempCWO.`value`) AS DECIMAL(5,2)) as `tempCWO`\\r\\n\"\n+\"\t,CAST(avg(tempPowietrza.`value`) AS DECIMAL(5,2)) as `tempPowietrza`\\r\\n\"\n+\"\t,cco.`tempZadana` as `ogrzewanieZadana`\\r\\n\"\n+\"\t,cco.`tempZadzialania` as `ogrzewanieZadzialania`\\r\\n\"\n+\"\t,cco.`minimalneZalaczenie` as `ogrzewanieMinimalneZalaczenie`\\r\\n\"\n+\"\t,ccb.`tempZadana` as `boilerZadana`\\r\\n\"\n+\"\t,ccb.`tempZadzialania` as `boilzerZadzialania`\\r\\n\"\n+\"FROM \\r\\n\"\n+\"\t`node-red`.`current-state-piec` csp\\r\\n\"\n+\"\tCROSS JOIN `node-red`.`current-config-piec-v2` ccpv2\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempCO\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempCO\\r\\n\"\n+\"\t\t\tON thTempCO.serialId = tempCO.sensorId\\r\\n\"\n+\"\t\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempCWO\t\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempCWO\\r\\n\"\n+\"\t\t\tON thTempCWO.serialId = tempCWO.sensorId\\r\\n\"\n+\"\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempPowietrza\t\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempPowietrza\\r\\n\"\n+\"\t\t\tON thTempPowietrza.serialId = tempPowietrza.sensorId\\r\\n\"\n+\"\\r\\n\"\n+\"\tCROSS JOIN `current-config-ogrzewanie` cco \\r\\n\"\n+\"\tCROSS JOIN `current-config-boiler` ccb \\r\\n\"\n+\"WHERE \\r\\n\"\n+\"\tthTempCO.friendlyName = 'CO'\\r\\n\"\n+\"\tAND tempCO.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\\r\\n\"\n+\"\tAND thTempCWO.friendlyName = 'Piec-kociol'\\r\\n\"\n+\"\tAND tempCWO.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\\r\\n\"\n+\"\tAND thTempPowietrza.friendlyName = 'Pokoj'\\r\\n\"\n+\"\tAND tempPowietrza.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\"\nreturn msg;","outputs":1,"x":271,"y":340,"z":"7776a84d.888958","wires":[["6f5c874f.90a378"]]},{"id":"6f5c874f.90a378","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":396,"y":377,"z":"7776a84d.888958","wires":[["cab65209.3549b"]]},{"id":"cab65209.3549b","type":"function","name":"","func":"var recieve = {\n\t\t\tmsgtype : 'status-update',\n\t\t\tinfo : {\n\t\t\t\ttempCO : msg.payload[0]['tempCO'],\n\t\t\t\ttempCWO: msg.payload[0]['tempCWO'],\n\t\t\t\ttempPowietrza: msg.payload[0]['tempPowietrza'],\n\t\t\t\tzasobnik: msg.payload[0]['zasobnik'],\n\t\t\t\tzasobnikMax:msg.payload[0]['zasobnikMax'],\n\t\t\t\ttrybPieca:msg.payload[0]['trybPieca']\n\t\t\t},\n\t\t\tustawieniaPiec:{\n\t\t\t\tpiecZadana : msg.payload[0]['piecZadana'],\n\t\t\t\tpiecZadzialanie: msg.payload[0]['piecZadzialanie'],\n\t\t\t\tgrzaniePodawanie: msg.payload[0]['grzaniePodawanie'],\n\t\t\t\tgrzaniePrzerwa:msg.payload[0]['grzaniePrzerwa'],\n\t\t\t\tpodtrzymaniePodawanie:msg.payload[0]['podtrzymaniePodawanie'],\n\t\t\t\tpodtrzymaniePrzerwa:msg.payload[0]['podtrzymaniePrzerwa']\n\t\t\t},\n\t\t\tustawieniaOgrzewanie:{\n\t\t\t\ttryb : \"reczny\",\n\t\t\t\togrzewanieZadana: msg.payload[0]['ogrzewanieZadana'],\n\t\t\t\togrzewanieZadzialanie: msg.payload[0]['ogrzewanieZadzialania'],\n\t\t\t\togrzewanieMinimum: msg.payload[0]['ogrzewanieMinimalneZalaczenie']\n\t\t\t},\n\t\t\tustawieniaBoiler:{\n\t\t\t\ttryb : \"reczny\",\n\t\t\t\tboilerZadana: msg.payload[0]['boilerZadana'],\n\t\t\t\tboilerZadzialanie : msg.payload[0]['boilzerZadzialania']\n\t\t\t}\n\t\t}\nmsg.payload = recieve ;\nreturn msg;","outputs":1,"x":528,"y":424,"z":"7776a84d.888958","wires":[["2f47d254.d0b82e","edeadd06.12152","32a65427.cd59ac"]]},{"id":"2f47d254.d0b82e","type":"http response","name":"","x":627,"y":488,"z":"7776a84d.888958","wires":[]},{"id":"b7e78597.481878","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":393,"y":170,"z":"7776a84d.888958","wires":[["c65e5a6d.39a1a8","ccb53194.334ad"]]},{"id":"ccb53194.334ad","type":"debug","name":"","active":false,"console":"false","complete":"true","x":543,"y":125,"z":"7776a84d.888958","wires":[]},{"id":"7f0e6b87.80f194","type":"mqtt in","name":"","topic":"RozpocznijNowyCykl","broker":"f543ba22.0abc48","x":110,"y":76,"z":"f6dbe110.09242","wires":[["4b228954.b4dd78"]]},{"id":"4b228954.b4dd78","type":"function","name":"SQL odczyt temperatury","func":"\nmsg.topic = \"SELECT \\r\\n\"\n+\"\tcsp.`obecnyStan` as `trybPieca`\\r\\n\"\n+\"\t,csp.`zasobnik` as `zasobnik`\\r\\n\"\n+\"\t,ccpv2.`zasobnikMax` as `zasobnikMax`\\r\\n\"\n+\"    ,ccpv2.`stdTempZadana` as `piecZadana`\\r\\n\"\n+\"    ,ccpv2.`stdTempZadzialania` as `piecZadzialanie`\\r\\n\"\n+\"    ,ccpv2.`stdGrzaniePodawanie` as `grzaniePodawanie`\\r\\n\"\n+\"    ,ccpv2.`stdGrzaniePrzerwa` as `grzaniePrzerwa`\\r\\n\"\n+\"    ,ccpv2.`stdPodtrzymaniePodawanie` as `podtrzymaniePodawanie`\\r\\n\"\n+\"    ,ccpv2.`stdPodtrzymaniePrzerwa` as `podtrzymaniePrzerwa`\\r\\n\"\n+\"    ,`ccpv2`.`advGrzaniePodawanieOpoznienie` as `grzaniePodawanieOpoznienie`\\r\\n\"\n+\"    ,`ccpv2`.`advGrzanieWentylatorOpoznienie` as `grzanieWentylatorOpoznienie`\\r\\n\"\n+\"    ,`ccpv2`.`advGrzanieWentylatorDelta` as `grzanieWentylatorDelta`\\r\\n\"\n+\"    ,`ccpv2`.`advPodtrzymaniePodawanieOpoznienie` as `podtrzymaniePodawanieOpoznienie`\\r\\n\"\n+\"    ,`ccpv2`.`advPodtrzymanieWentylatorOpoznienie` as `podtrzymanieWentylatorOpoznienie`\\r\\n\"\n+\"    ,`ccpv2`.`advPodtrzymanieWentylatorDelta` as `podtrzymanieWentylatorDelta`\\r\\n\"\n+\"\t,CAST(avg(tempCO.`value`) AS DECIMAL(5,2)) as `tempCO`\\r\\n\"\n+\"\t,CAST(avg(tempCWO.`value`) AS DECIMAL(5,2)) as `tempCWO`\\r\\n\"\n+\"\t,CAST(avg(tempPowietrza.`value`) AS DECIMAL(5,2)) as `tempPowietrza`\\r\\n\"\n+\"FROM \\r\\n\"\n+\"\t`node-red`.`current-state-piec` csp\\r\\n\"\n+\"\tCROSS JOIN `node-red`.`current-config-piec-v2` ccpv2\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempCO\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempCO\\r\\n\"\n+\"\t\t\tON thTempCO.serialId = tempCO.sensorId\\r\\n\"\n+\"\t\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempCWO\t\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempCWO\\r\\n\"\n+\"\t\t\tON thTempCWO.serialId = tempCWO.sensorId\\r\\n\"\n+\"\\r\\n\"\n+\"\tCROSS JOIN thermometers thTempPowietrza\t\\r\\n\"\n+\"\t\tLEFT JOIN temperatures tempPowietrza\\r\\n\"\n+\"\t\t\tON thTempPowietrza.serialId = tempPowietrza.sensorId\\r\\n\"\n+\"\\r\\n\"\n+\"WHERE \\r\\n\"\n+\"\tthTempCO.friendlyName = 'CO'\\r\\n\"\n+\"\tAND tempCO.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\\r\\n\"\n+\"\tAND thTempCWO.friendlyName = 'Piec-kociol'\\r\\n\"\n+\"\tAND tempCWO.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\\r\\n\"\n+\"\tAND thTempPowietrza.friendlyName = 'Pokoj'\\r\\n\"\n+\"\tAND tempPowietrza.`timestamp` > DATE_ADD(now(),INTERVAL -5 MINUTE)\"\n+\" LIMIT 1 \\r\\n\";\nreturn msg;","outputs":1,"x":241,"y":180,"z":"f6dbe110.09242","wires":[["94fd01c.f6b03"]]},{"id":"94fd01c.f6b03","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":175.08334350585938,"y":266,"z":"f6dbe110.09242","wires":[["1978522b.e687ae"]]},{"id":"84e268f3.7b1d98","type":"debug","name":"","active":false,"console":"false","complete":"true","x":638,"y":94,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"a3a3110.f5c5cf","type":"debug","name":"","active":false,"console":"false","complete":"true","x":618,"y":159,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"1b075ac4.e4f8a5","type":"debug","name":"","active":false,"console":"false","complete":"true","x":608,"y":287,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"31819611.ce7e6a","type":"debug","name":"","active":false,"console":"false","complete":"true","x":604,"y":218,"z":"3f3cf9f9.c0c306","wires":[]},{"id":"1978522b.e687ae","type":"function","name":"walidacja","func":"if(msg.payload.length !== 1){\nmsg.error = true;\n}else{\nmsg.error = false;\n}\nreturn msg;","outputs":1,"x":220,"y":332,"z":"f6dbe110.09242","wires":[["745dc206.8ba23c"]]},{"id":"19661fd6.e699e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":81,"y":139,"z":"f6dbe110.09242","wires":[["4b228954.b4dd78"]]},{"id":"f0c09d20.0f3f6","type":"debug","name":"","active":true,"console":"false","complete":"true","x":927,"y":246,"z":"f6dbe110.09242","wires":[]},{"id":"7fd48415.802b7c","type":"switch","name":"tryb","property":"payload.trybPieca","rules":[{"t":"eq","v":"podtrzymanie"},{"t":"eq","v":"grzanie"},{"t":"eq","v":"wylaczony"}],"checkall":"true","outputs":3,"x":586,"y":384,"z":"f6dbe110.09242","wires":[["d5a956f9.2a56a8"],["dc5b4b2e.23a4b8"],["5ac9662c.a53698"]]},{"id":"3998b159.c6674e","type":"comment","name":"podtrzymanie","info":"","x":785,"y":199,"z":"f6dbe110.09242","wires":[]},{"id":"1ddafd97.e22502","type":"comment","name":"grzanie","info":"","x":775,"y":336,"z":"f6dbe110.09242","wires":[]},{"id":"d5a956f9.2a56a8","type":"function","name":"","func":"var tryb = 'podtrzymanie'\nvar unified = {};\nunified['podawanieOpoznienie'] = msg.payload[tryb + 'PodawanieOpoznienie'];\nunified['podawanie'] = msg.payload[tryb + 'Podawanie'];\nunified['przerwa'] = msg.payload[tryb + 'Przerwa'];\nunified['wentylatorOpoznienie'] = msg.payload[tryb + 'WentylatorOpoznienie'];\nunified['wentylator'] =unified['podawanie']+ msg.payload[tryb + 'WentylatorDelta'];\nmsg = {};\nmsg.payload = unified;\nreturn msg;","outputs":1,"x":772,"y":246,"z":"f6dbe110.09242","wires":[["f0c09d20.0f3f6","d3bb8090.2c448"]]},{"id":"dc5b4b2e.23a4b8","type":"function","name":"","func":"var tryb = 'grzanie'\nvar unified = {};\nunified['podawanieOpoznienie'] = msg.payload[tryb + 'PodawanieOpoznienie'];\nunified['podawanie'] = msg.payload[tryb + 'Podawanie'];\nunified['przerwa'] = msg.payload[tryb + 'Przerwa'];\nunified['wentylatorOpoznienie'] = msg.payload[tryb + 'WentylatorOpoznienie'];\nunified['wentylator'] =unified['podawanie']+ msg.payload[tryb + 'WentylatorDelta'];\nmsg = {};\nmsg.payload = unified;\nreturn msg;","outputs":1,"x":773,"y":384,"z":"f6dbe110.09242","wires":[["f70de6ee.08f218","d3bb8090.2c448"]]},{"id":"f70de6ee.08f218","type":"debug","name":"","active":true,"console":"false","complete":"true","x":930,"y":385,"z":"f6dbe110.09242","wires":[]},{"id":"745dc206.8ba23c","type":"switch","name":"","property":"error","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":370,"y":328,"z":"f6dbe110.09242","wires":[["8c31bfbd.73ce4"],["271f76ba.d8e08a"]]},{"id":"271f76ba.d8e08a","type":"function","name":"","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"x":448,"y":389,"z":"f6dbe110.09242","wires":[["7fd48415.802b7c","760c9357.89f36c"]]},{"id":"8c31bfbd.73ce4","type":"mqtt out","name":"","topic":"log-error","qos":"","retain":"","broker":"f543ba22.0abc48","x":487,"y":237,"z":"f6dbe110.09242","wires":[]},{"id":"c079377e.3f86c8","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.podawanieOpoznienie","drop":false,"x":513,"y":744,"z":"f6dbe110.09242","wires":[["639af749.9c6508","2e4eb8a4.d1b148"]]},{"id":"a3ef0ed7.5c10f","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.wentylatorOpoznienie","drop":false,"x":507,"y":625,"z":"f6dbe110.09242","wires":[["99b6aa42.664958","34fe1ba3.cb01e4"]]},{"id":"2e4eb8a4.d1b148","type":"function","name":"wlacz","func":"\nreturn {payload: true};","outputs":1,"x":865,"y":744,"z":"f6dbe110.09242","wires":[["dbe63339.2419d"]]},{"id":"591d1069.a6e2f","type":"function","name":"wylacz","func":"\nreturn {payload: false};","outputs":1,"x":864,"y":787,"z":"f6dbe110.09242","wires":[["dbe63339.2419d"]]},{"id":"dbe63339.2419d","type":"mqtt out","name":"","topic":"Podajnik","broker":"28a29f68.d75d6","x":1012,"y":744,"z":"f6dbe110.09242","wires":[]},{"id":"34fe1ba3.cb01e4","type":"function","name":"wlacz","func":"\nreturn {payload: true};","outputs":1,"x":875.7857437133789,"y":624.2499809265137,"z":"f6dbe110.09242","wires":[["89945057.766bb"]]},{"id":"c38e22c0.3c71e","type":"function","name":"wylacz","func":"\nreturn {payload: false};","outputs":1,"x":875.7857437133789,"y":672.2499809265137,"z":"f6dbe110.09242","wires":[["89945057.766bb"]]},{"id":"89945057.766bb","type":"mqtt out","name":"","topic":"Wentylator","broker":"28a29f68.d75d6","x":1035.785743713379,"y":624.2499809265137,"z":"f6dbe110.09242","wires":[]},{"id":"639af749.9c6508","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.podawanie","drop":false,"x":639,"y":787,"z":"f6dbe110.09242","wires":[["591d1069.a6e2f","85f1e40b.7a0e18"]]},{"id":"99b6aa42.664958","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.wentylator","drop":false,"x":626.1428680419922,"y":671.8571405410767,"z":"f6dbe110.09242","wires":[["c38e22c0.3c71e"]]},{"id":"d3bb8090.2c448","type":"mqtt out","name":"","topic":"sterowanie-start","qos":"","retain":"","broker":"f543ba22.0abc48","x":947,"y":328,"z":"f6dbe110.09242","wires":[]},{"id":"41b61b1b.be49e4","type":"mqtt in","name":"","topic":"sterowanie-start","broker":"f543ba22.0abc48","x":98,"y":679,"z":"f6dbe110.09242","wires":[["9aff9699.650068"]]},{"id":"9aff9699.650068","type":"function","name":"unwrap","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"x":260,"y":680,"z":"f6dbe110.09242","wires":[["c079377e.3f86c8","a3ef0ed7.5c10f","f5f0ac00.0a0f5"]]},{"id":"85f1e40b.7a0e18","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.przerwa","drop":false,"x":808,"y":863,"z":"f6dbe110.09242","wires":[["c2880d76.3d77f"]]},{"id":"c2880d76.3d77f","type":"mqtt out","name":"","topic":"RozpocznijNowyCykl","qos":"","retain":"","broker":"f543ba22.0abc48","x":1052,"y":863,"z":"f6dbe110.09242","wires":[]},{"id":"92e0660a.6d1f98","type":"mqtt in","name":"","topic":"Wentylator","broker":"f543ba22.0abc48","x":150.0001220703125,"y":934.2856369018555,"z":"f6dbe110.09242","wires":[["fd1d81b2.02e28"]]},{"id":"fd1d81b2.02e28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":282.1430320739746,"y":931.4285736083984,"z":"f6dbe110.09242","wires":[]},{"id":"1bf08b91.e40f74","type":"mqtt in","name":"","topic":"Podajnik","broker":"f543ba22.0abc48","x":152.85714721679688,"y":982.1428833007812,"z":"f6dbe110.09242","wires":[["6c8317a2.937ce8"]]},{"id":"6c8317a2.937ce8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":285.000057220459,"y":979.2858200073242,"z":"f6dbe110.09242","wires":[]},{"id":"7a6d202d.8592e","type":"mqtt in","name":"","topic":"RozpocznijNowyCykl","broker":"f543ba22.0abc48","x":112.85713958740234,"y":1025.714285850525,"z":"f6dbe110.09242","wires":[["bc8e8fca.43717"]]},{"id":"bc8e8fca.43717","type":"debug","name":"","active":true,"console":"false","complete":"false","x":287.1429100036621,"y":1025.7143478393555,"z":"f6dbe110.09242","wires":[]},{"id":"f5f0ac00.0a0f5","type":"debug","name":"","active":true,"console":"false","complete":"false","x":282.1428699493408,"y":870.0000467300415,"z":"f6dbe110.09242","wires":[]},{"id":"f482dd1c.0b7d2","type":"delay","name":"","pauseType":"msg","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload.zupa","drop":false,"x":298,"y":259,"z":"9276212e.6d89e","wires":[["8c993e1b.7366c"]]},{"id":"f7d4d182.082b3","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":135,"z":"9276212e.6d89e","wires":[["f7808b0c.087f78"]]},{"id":"f7808b0c.087f78","type":"function","name":"","func":"msg.payload = {zupa:4}\nreturn msg;","outputs":1,"x":190,"y":183,"z":"9276212e.6d89e","wires":[["f482dd1c.0b7d2","8c993e1b.7366c"]]},{"id":"8c993e1b.7366c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":514,"y":195,"z":"9276212e.6d89e","wires":[]},{"id":"760c9357.89f36c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":678,"y":99,"z":"f6dbe110.09242","wires":[]},{"id":"1d50544f.e2afac","type":"mqtt out","name":"","topic":"RozpocznijNowyCykl","qos":"","retain":"","broker":"f543ba22.0abc48","x":963,"y":484,"z":"f6dbe110.09242","wires":[]},{"id":"5ac9662c.a53698","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","msgProperty":"payload","drop":false,"x":761,"y":484,"z":"f6dbe110.09242","wires":[["1d50544f.e2afac"]]},{"id":"2d55d79b.d2aa28","type":"comment","name":"wylaczony","info":"","x":749,"y":438,"z":"f6dbe110.09242","wires":[]},{"id":"d985d835.267a28","type":"websocket in","name":"","server":"39996d8f.c66692","x":93,"y":593,"z":"7776a84d.888958","wires":[["dbb10e62.244ef","58168e37.a7e97"]]},{"id":"edeadd06.12152","type":"websocket out","name":"","server":"39996d8f.c66692","x":762,"y":360,"z":"7776a84d.888958","wires":[]},{"id":"32a65427.cd59ac","type":"debug","name":"","active":true,"console":"false","complete":"false","x":740,"y":424,"z":"7776a84d.888958","wires":[]},{"id":"dbb10e62.244ef","type":"function","name":"","func":"msg.payload = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"x":279,"y":551,"z":"7776a84d.888958","wires":[["858450c8.7a7bb"]]},{"id":"58168e37.a7e97","type":"debug","name":"","active":true,"console":"false","complete":"true","x":280,"y":636,"z":"7776a84d.888958","wires":[]},{"id":"858450c8.7a7bb","type":"switch","name":"","property":"payload.msgtype","rules":[{"t":"eq","v":"get-info"},{"t":"eq","v":"save-ogrzewanie"},{"t":"eq","v":"save-boiler"}],"checkall":"true","outputs":3,"x":413,"y":551,"z":"7776a84d.888958","wires":[["4acaaeda.b5355"],["4647e9c5.b9b818"],["8261d66e.7d9e28"]]},{"id":"4647e9c5.b9b818","type":"function","name":"","func":"if(msg.payload['ustawieniaOgrzewanie'] ){\n\t\n\tvar tempZadana = msg.payload['ustawieniaOgrzewanie']['ogrzewanieZadana']\n\tvar tempZadzialania = msg.payload['ustawieniaOgrzewanie']['ogrzewanieZadzialanie']\n\tvar minimalneZalaczenie = msg.payload['ustawieniaOgrzewanie']['ogrzewanieMinimum']\n\t\n\t//`current-config-boiler`\n\tvar msg = {};\n\tmsg.topic = \"UPDATE \\r\\n\"\n\t+\"\t`node-red`.`current-config-ogrzewanie` \\r\\n\"\n\t+\"SET \\r\\n\"\n\t+\"\t`tempZadana` = \" + tempZadana + \"\\r\\n\"\n\t+\"\t,`tempZadzialania` =  \" + tempZadzialania + \"\\r\\n\"\n\t+\"\t,`minimalneZalaczenie` =  \" + minimalneZalaczenie + \"\\r\\n\"\n}\nreturn msg;","outputs":1,"x":487,"y":700,"z":"7776a84d.888958","wires":[["65262cb4.9ad9d4","58168e37.a7e97"]]},{"id":"65262cb4.9ad9d4","type":"mysql","mydb":"d739ba3a.28c648","name":"","x":722,"y":660,"z":"7776a84d.888958","wires":[["f0fe19b3.0f01e8","e3020c5a.1cfdf"]]},{"id":"f0fe19b3.0f01e8","type":"function","name":"","func":"if(msg['payload']['affectedRows'] === 1){\n\tmsg.error = false;\n}else{\n\tmsg.error = true;\n}\nreturn msg;","outputs":1,"x":884,"y":660,"z":"7776a84d.888958","wires":[["f3d0d67e.0c2f28"]]},{"id":"de7153a3.218eb","type":"websocket out","name":"","server":"39996d8f.c66692","x":1355,"y":665,"z":"7776a84d.888958","wires":[]},{"id":"e3020c5a.1cfdf","type":"debug","name":"","active":true,"console":"false","complete":"true","x":887,"y":575,"z":"7776a84d.888958","wires":[]},{"id":"f3d0d67e.0c2f28","type":"switch","name":"","property":"error","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1018,"y":660,"z":"7776a84d.888958","wires":[["25445c34.dabba4"],["3ebf8a53.c14076"]]},{"id":"25445c34.dabba4","type":"function","name":"","func":"msg.payload = {\nmsgtype:\"error-response\"\n}\nreturn msg;\nreturn msg;","outputs":1,"x":1149,"y":637,"z":"7776a84d.888958","wires":[["de7153a3.218eb","c9c3a00e.363c6"]]},{"id":"3ebf8a53.c14076","type":"function","name":"","func":"msg.payload = {\nmsgtype:\"success-response\"\n}\nreturn msg;","outputs":1,"x":1144,"y":688,"z":"7776a84d.888958","wires":[["de7153a3.218eb"]]},{"id":"c9c3a00e.363c6","type":"mqtt out","name":"","topic":"log-error","qos":"","retain":"","broker":"f543ba22.0abc48","x":1321,"y":604,"z":"7776a84d.888958","wires":[]},{"id":"8261d66e.7d9e28","type":"function","name":"","func":"if(msg.payload['ustawieniaBoiler'] ){\n\t\n\tvar tempZadana = msg.payload['ustawieniaBoiler']['boilerZadana']\n\tvar tempZadzialania = msg.payload['ustawieniaBoiler']['boilerZadzialanie']\n\t\n\t//`current-config-boiler`\n\tvar msg = {};\n\tmsg.topic = \"UPDATE \\r\\n\"\n\t+\"\t`node-red`.`current-config-boiler` \\r\\n\"\n\t+\"SET \\r\\n\"\n\t+\"\t`tempZadana` = \" + tempZadana + \"\\r\\n\"\n\t+\"\t,`tempZadzialania` =  \" + tempZadzialania + \"\\r\\n\"\n}\nreturn msg;","outputs":1,"x":562,"y":597,"z":"7776a84d.888958","wires":[["65262cb4.9ad9d4"]]},{"id":"8aa5e4ff.755a18","type":"comment","name":"save boiler","info":"","x":572,"y":562,"z":"7776a84d.888958","wires":[]},{"id":"6fdfd58c.90202c","type":"comment","name":"save ogrzewanie","info":"","x":518,"y":663,"z":"7776a84d.888958","wires":[]}]